@font-face { 
    font-family: 'GothamPro'; 
    src:  url('../../fonts/GothamPro.woff') format('woff'),
          url('../../fonts/GothamPro.ttf') format('ttf'),
          url('../../fonts/GothamPro.eot') format('eot'); 
    font-weight: normal; 
    font-style: normal; 
  }