.page {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.page__title {
    font-size: 49px;
    font-weight: bold;
    color: #221f1f;
}

.page__title--sidebar {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}

.sidebar {  
    width: 27%;
    margin-right: 15px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}